/* Event Page Container Styles */

.event-content {
  overflow-y: auto;
  padding: 20px;
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-search-input {
  padding: 8px;
  width: 200px;
}

.event-alerts-container {
  margin-top: 20px;
}

.event-alert {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-alert-icon {
  margin-right: 10px;
}

.table-cell-ellipsis {
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 잘린 부분에 말줄임표(...) 표시 */
  max-width: 200px; /* 필요한 경우 최대 너비 지정 */
}
