.event-content {
    overflow-y: auto;
    padding: 20px;
  }
  
  .event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content-section {
	padding: 20px;
	overflow-y: scroll;
	flex: 1;
  }
  
  .card-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
  }
  
  .status-card, .chart-card, .event-card {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	flex: 1;
	margin-right: 20px;
  }
  
  .status-card:last-child, .chart-card:last-child, .event-card:last-child {
	margin-right: 0;
  }
  
  .chart-info-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
  }
  
  
  .info-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex: 1.075;
  }
  
  .info-card {
	flex-basis: calc(50% - 10px);
	margin-bottom: 5px;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	
  }
  
  .chart-event-container {
	display: flex;
	justify-content: space-between;
  }
  
  .event-card {
	flex: 1;
	margin-right: 0;
  }
  
  .event-warning {
	color: #d9534f;
  }