/* Overview.css */
.dashboard {
	display: flex;
  }
  
  .main-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100vh;
  }
  
  .event-content {
	padding: 20px;
  }
  
  .event-header h2 {
	margin: 0;
  }
  
  .content-section {
	padding: 20px;
	overflow-y: scroll;
	flex: 1;
  }
  
  .card-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
  }
  
  .status-card, .chart-card, .info-card, .event-card {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	flex: 1;
	margin-right: 10px;
  }
  
  .status-card:last-child, .chart-card:last-child, .info-card:last-child {
	margin-right: 0;
  }
  
  .chart-section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
  }
  
  .info-section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
  }
  
  .info-card {
	flex: 1;
	margin-bottom: 20px;
  }
  
  .info-card:nth-child(odd) {
	margin-right: 10px;
  }
  
  .event-section {
	margin-bottom: 20px;
  }
  
  .event-warning {
	color: #d9534f;
  }
  