.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 100%));
}

.search-filter-wrapper {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.search-input-resources {
  padding-right: 10px;
  padding-left: 10px;
  flex: 1;
  margin-right: 10px;
}

.filter-box {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #004098;
  color: white;
  border-radius: 4px;
  padding: 3px 20px;
  margin-right: 10px;
}

.button {
  padding: 0px 20px;
  background-color: #004098;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
}

.button-group {
  display: flex;
}

.data-type-button {
  padding: 0px 20px;
  border: 0px solid #004098;
  border-radius: 0px 4px 0px 0px;
  background-color: transparent;
  color: #004098;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.data-type-button:hover {
  background-color: #e0f0ff;
}

.data-type-active {
  background-color: #004098;
  color: #fff;
}

.data-type-button:not(.data-type-active) {
  opacity: 0.6;
}

.pagination-button {
  background-color: #f5f5f5;
  color: #000000;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.pagination-button:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination-button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #0056b3;
  pointer-events: none;
}

.pagination-button:disabled {
  background-color: #e9ecef;
  color: #adb5bd;
  border-color: #ddd;
  cursor: not-allowed;
}

.filter-popup {
  overflow-y: auto;
  max-height: "calc(100vh - 15%)";
}

.badge-stop {
  background-color: #ffc2c8;
  color: red;
}

.badge-running {
  background-color: rgb(197, 255, 197);
  color: green;
}

.badge-pending {
  background-color: #fff1c7;
  color: rgb(141, 110, 0);
}
.badge-succeeded {
  background-color: #fff1c7;
  color: rgb(16, 22, 83);
}
